<div class="p-8">
    @if(this.shoppingCart.length > 0){
    <div class="flex justify-end">
        <button mat-raised-button (click)="clearCart()">Limpiar carrito</button>
    </div>
    <div class="grid grid-cols-3 justify-center items-center gap-16 pb-16">
        @for (item of shoppingCart; track $index) {
            <app-article-item [item]="item" (addItemCartEmitter)="addItemFromCart($event)" (removeItemCartEmitter)="removeItemFromCart(item, $index)"></app-article-item>
        }
    </div>
    <hr class="bg-slate-500 h-1 w-full">
    <div class="flex justify-center">
        <h2>Total: {{totalBill() | currency: 'USD' : 'symbol' : '1.2-2'}}</h2>
    </div>
    <div>
        <button mat-button (click)="buyShoppingCart()">Comprar carrito</button>
    </div>
    } @else {
    <div class="flex justify-center">
        <h2>No hay articulos en el carrito</h2>
    </div>
    }
</div>